.header {
    display: flex;
    
  }
  .logo {
    width: 8rem;
    height: 3rem;
    margin-top: 2rem;
    margin-left: 5rem;
  }
  .header-menu {
    list-style: none;
    display: flex;
    gap: 2rem;
    color: black;
    margin-top: 3rem;
    margin-left: 13rem;
    font-size: 17px;
    font-weight: 500;

  }
  .header-menu li:hover {
    cursor: pointer;
    color: #ff4d30;
  }
  button{
    border: none;
    font-size: 17px;
    
  }
  .sign-in{
    margin-left: 20rem;
    background: transparent;
    padding-top: 1rem;
    cursor: pointer;
    }
  .sign-in:hover{
    color: #ff4d30;
  }
  .register{
    background-color: #ff4d30;
    border-radius: 3px;
    box-shadow: 0 10px 15px 0 rgba(255,83,48,.35);
    color: #fff;
    margin: 1rem 1rem;
    margin-top: 1.8rem;
    width: 7rem;
    height: 3rem;
    transition: all .3s;
    cursor: pointer;
  }